<script>
	import { doc_lang } from "$lib/components/data/stores";

	import Settings from "$lib/components/Settings.svelte";
	import Sources from "$lib/components/Sources.svelte";
	import Figure from "$lib/components/Figure.svelte";
</script>

<Settings />

<div class="page" lang={$doc_lang}>
	<h1>Welcome to SvelteKit</h1>
	<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation.</p>
	<p>Hallo mein Name ist Felix</p>

	<Figure
		src="https://www.schindlerfelix.de/img/blog/html-button.png"
		caption="HTML Button without style" />
	<Figure
		src="https://blog.cloudflare.com/content/images/2020/04/image4-1.gif"
		caption="HTTP/3 Packet Lost"
		width="80%" />

	<Sources />
</div>

<style>
	div.page {
		/* size: a4 portrait; */
		width: 21cm;
		height: 29.7cm;
		margin: 1cm auto; /* change the margins as you want them to be. */
		padding: 1cm;

		background-color: rgba(var(--gray-rgb), 0.2);
		border-radius: 0.25em;
	}

	div.page > :first-child {
		margin-top: 0;
	}

	div.page > :last-child {
		margin-bottom: 0;
	}

	div.page {
		-webkit-hyphens: auto;
		hyphens: auto;
	}

	div.page p {
		text-align: justify;
		text-indent: 1.5em;
		margin-block: 0;
	}

	div.page h1 + p,
	div.page h2 + p,
	div.page h3 + p,
	div.page h4 + p,
	div.page h5 + p,
	div.page h6 + p {
		text-indent: 0;
	}

	div.page p:has(img) {
		text-align: center;
		margin-block: 1.5em;
	}

	div.page img {
		height: auto;
		width: 80%;
		margin: 0 auto;
	}

	div.page blockquote {
		margin-top: 16px;
	}

	div.page blockquote p {
		text-indent: 0;
	}

	div.page p:has(+ table) {
		text-indent: 0;
		text-align: center;
		margin-top: 1.5em;
	}

	div.page table {
		margin: 0 auto;
	}

	@media print {
		.pt-8 {
			padding-bottom: 2rem;
		}

		div.pb-16,
		footer {
			display: none;
		}
	}
</style>
