/* Form */
div.msg-btns {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 0.5em;

	width: 100%;
	padding-top: 0.25em;
}

/* Inputs, Select, (Textarea) */
input,
textarea,
select {
	font-size: 1rem;
	padding: 0.4em 0.6em;
	border: 1px solid rgb(var(--gray-rgb));
	border-radius: var(--radius);
	background-color: transparent;
	background: transparent;
	background-image: none;
}

textarea {
	width: 100%;
	font-family: var(--sans);
}

/* Label */
label {
	color: var(--light-gray);
	text-transform: uppercase;
}

/* Label and Input */
div.li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: .25em
}
