<script lang="ts">
	import { doc_lang, figureCount } from "./data/stores";

	export let src: string;
	export let caption: string | undefined = undefined;

	export let width: string = "";

	let id = ++$figureCount;
	let figure = "Figure";

	$: switch ($doc_lang) {
		case "de":
			figure = "Abbildung";
			break;
		case "zh-Hans":
			figure = "图第";
			break;
		default:
			figure = "Figure";
			break;
	}
</script>

<div class="figure">
	<img style={width ? `width: ${width}` : ""} {src} alt="" />
	{#if caption}
		<p>{figure + ($doc_lang != "zh-Hans" ? " " : "") + id}: {caption}</p>
	{/if}
</div>

<style>
	div.figure {
		text-align: center;
	}

	p {
		margin-top: 0.5em;
	}

	img {
		max-height: 100%;
		max-width: 100%;
	}
</style>
