<script lang="ts">
  import { doc_lang } from "$lib/components/data/stores";
  import { sources } from "./data/sources";

  let sourcesModal: HTMLDialogElement;
</script>

<div class="settings">
  <a href="/">Settings</a>
  <div class="li">
    <label for="lang">Document Language</label>
    <select id="lang" bind:value={$doc_lang}>
      <option value="en" lang="en">English</option>
      <option value="de" lang="de">Deutsch</option>
      <option value="zh-Hans" lang="zh-Hans">简体中文</option>
    </select>
  </div>
  <div>
    <button
      class="inverse"
      type="button"
      on:click={() => sourcesModal.showModal()}>
      Edit sources
    </button>
    <dialog bind:this={sourcesModal}>
      <button type="button" on:click={() => sourcesModal.close()}>Close</button>
      <h2>Sources</h2>
      {#each $sources as source, index}
        <div class="source">
          <label>Author <input type="text" value={source.author} /></label>
          <label>URL <input type="url" value={source.url} /></label>
          <label
            >Last Accessed <input
              type="date"
              value={source.lastAccessed} /></label>
          <button
            type="button"
            on:click={() => {
              $sources = $sources.splice(index);
            }}>Remove</button>
        </div>
      {/each}
      <button
        type="button"
        on:click={() => {
          const newSource = {
            author: "sample-" + $sources.length,
            url: "",
            lastAccessed: new Date().toISOString().split("T")[0],
          };

          sources.set([...$sources, newSource]);
        }}>Add new</button>
    </dialog>
  </div>
</div>

<style>
  div.settings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;

    background-color: rgba(var(--gray-rgb), 0.1);
    padding: 1em;
  }

  label,
  input {
    display: block;
  }

  div.settings > * {
    margin: 0;
  }

  a {
    font-size: 1em;
    font-weight: 500;
    margin-right: 1em;
  }

  div.source {
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
  }

  @media print {
    div.settings {
      display: none;
    }
  }
</style>
