<script lang="ts">
	import { doc_lang } from "$lib/components/data/stores";
	import { sources } from "./data/sources";

	let source = "Sources";

	$: switch ($doc_lang) {
		case "de":
			source = "Quellen";
			break;
		case "zh-Hans":
			source = "来源";
			break;
		default:
			source = "Sources";
			break;
	}
</script>

{#if sources.length > 0}
	<h1>{source}</h1>
	<ol>
		{#each sources as source}
			<li>
				<p>
					{source.author}, &lt;<a href={source.url} target="_blank" rel="noreferrer">
						{source.url}</a
					>&gt;, {new Date(source.lastAccessed).toLocaleDateString($doc_lang)}
				</p>
			</li>
		{/each}
	</ol>
{:else}
	<p>There are no sources!</p>
{/if}
